



.dark{
  --bg: var(--dark-primary-bg);
  --s-bg: var(--dark-secondary-bg);
  --text: var(--dark-text-color);
  --color1: var(--dark-color1);
  --color2: var(--dark-color2);
}

.light{
  --bg: var(--light-primary-bg);
  --s-bg: var(--light-secondary-bg);
  --text: var(--light-text-color);
  --color1: var(--light-color1);
  --color2: var(--light-color2);
  --highlight: #2a9d8f
}
.body{
  transition: background 1s ease;
  background: var(--bg);
  color: var(--text);
}
section
{
  
  height: max-content;
}

.footer
{
  /* position: relative;
  bottom: 0; */
  width: 100%;
  /* height: 5vh; */
  background-color: var(--darkBg);
  padding: 0 10rem;
  color: white;
  border-top: 1px solid var(--white);

  
}
