@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@300;400&family=Rubik:wght@400;500&display=swap');

body {
  margin: 0;
 font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
